


/* Base styles */
body {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}
header, footer {
    text-align: center;
    padding: 24px 20px;
}
main {
    padding:0;
    /* text-align: center; */
}

/* Heading Session */
.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#043A53;
}
.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:.5rem;
    color:#043A53;
}
.logoRectangleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .10rem;
}
.logoRectangle1 {
	width: 8px;
	height: 30px;
	transform: skew(-30deg);
	background:#043A53;
    opacity:20%;
}
.logoRectangle2 {
	width: 10px;
	height: 30px;
	transform: skew(-30deg);
	background: #043A53;
    opacity:50%;
}
.logoRectangle3 {
	width: 15px;
	height: 30px;
	transform: skew(-30deg);
	background:#043A53;
}
.logoText {
    color:#043A53;
    font-weight: bold;
    font-size: 30px;
}

/* NAV Session */
.navContainer{
    margin: 0;
    padding: 0;
    list-style-type: none;   
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:40px;
    a{
        text-decoration: none;
        color:#12141D;
    }
    a:hover {
       color: #043A53;
    }
}
/*background: #12141D;text
background: #FFFFFF;  button */

/* Button Session */
.buttonContainer{
    font-weight:bold;
}
button{
    padding:8px 16px;
    border-radius: 42px;
    gap:10px;
    border: none;
    font-weight: bold;
}
.buttonLogIn{
    color:#043A53;
    background-color:#FFFFFF;
}
.buttonSignUp{
    color: #FFFFFF;
    background-color:#043A53 ;
}

/* First Section Main Content */

.firstSection{
    background-color: red;
}
.firstSectionContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:100px 120px;
    gap:10px;
}
.leftImage{
    /* background-color:yellowgreen; */
}
.centerTextContainer{
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: white;
}
.centerTextHeading{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 64px;
    text-align: center;
}
.centerText{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}
.centerTextButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    button{
        width: 141;
        height: 60;
        color: #FFFFFF;
        background-color: #043A53;
        gap: 25px;
        padding-top: 16px 24px;
        border-radius: 55px;
        box-shadow: 0px 23px 47px 0px #043A533D;
    }
}
/* .videoIconContainer{
    display: flex;
} */
.videoIconLink{
    text-decoration: none;
}
.videoIconHolder{
    height:100%;
    width:100%;
    /* background-color: green; */
    display: flex;
    align-items: center;    
    justify-content: center;
    gap:10px;
}
.videoIcon{
    height:12px;
    width:12px;
    background-color: black;
    padding:12px;
    border-radius: 32px;
}
.videoIconText{
    
}





.rightImage{
    /* background-color:green; */
}


/* Responsive Design */
@media (max-width: 768px) {
    main {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    header, footer {
        padding: 0.5rem;
    }
}


/* Second Section */

.secondSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: #FFFFFF; */
    background-color: yellow;      
    gap: 64px;
    padding: 50px 150px;

}

/* ThirdSectionHeading */
.thirdSection{
    text-align: center;
    background-color:#043A53;
}
.thirdSectionTextContainer{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    text-align: bottom;
    padding: 5% 10%;
}
.thirdSectionHeading{
    width: 50%;
    font-size: 60px;
    font-family: Lato;
    text-align: left;

}
.thirdSectionHeading1{
    color: #FFFFFF;
}
.thirdSectionHeading2{
    color:#F0B73F;
}
.thirdSectionText{
    width:35%;
    color: #FFFFFF;
    text-align: left;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
}

/* FouthSection */

.fouthSectionContainer{
    padding: 5%;
    gap:5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fouthSectionMainTile{
    width:20%;
    gap:5%;
}

.fouthSectionButton{
    color: #FFFFFF;
    background-color: #043A53;
}
.fouthSectionHeading{    
    padding:8% 0;
    font-size: 350%;
    text-align: left;

}
.fouthSectionTileHolder{
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.fouthSectionTile{
    padding: 3%;
    width:25%;
    background-color: #F2F5F6;

    align-items: left;
    text-align: left;
    border-radius: 5%;
    
}
.fouthSectionTileimage{
    width:80px;
    height:80px;
}
.fouthSectionTileHeading{
    padding: 5% 0;
    font-weight:bold;
    font-size:24px;
}
.fouthSectionTilecontent{
    font-size: 18px;
}


/* Fifth Section */

.fifthSection{
    font-family: 'lato';
    background-color: black;
    padding: 100px 150px;
}
.fifthSectionContainer{

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* gap:64px; */
}

.fifthSectionTile{
    background-color: Yellow;
}

.fifthSectionTileValue{
    font-size: 60px;
    color: #043A53;

}

.fifthSectionTileText{
    color: #404040;
    font-weight: bold;
}

/* Sixth Section */

.sixthSection{
    background-color: red;
}
.sixthSectionContainer{
    padding: 100px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sixthSectionLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px;
}
.sixthSectionHeading{
    color: #12141D;
    font-weight: 700;
    font-size: 60px;
}
.sixthSectionText{
    font-weight: 400;
    font-size: 24px;
}
.sixthSectionFounderName{
    font-family: Lato;
    font-weight: 700;
    font-size: 20px;
}
.sixthSectionFounder{
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
}
.sixthSectionManImageIconHolder{
    background-color: #043A53;
    height: 300px;
    width: 81px;
    position: relative;
    left: 426px;
    bottom: 674px;
    border-radius: 47px;
}
.sixthSectionManImage{
    width: 626px;
    height: 574px;
    top: -39.85px;
    left: 22px;
    border-radius: 16px;
}
.sixthSectionCircleImageWomen{
    position: relative;
    left: 0px;
    bottom: 250px;
    border:1px white;
}
.sixthSectionManImageIcon{
    background-color: #043A53;
    height:50px;
    width:50px;
    border-radius: 50px;
    padding: 19%;
}

